*{
    box-sizing: border-box;
}
body{
    background: rgb(32, 31, 31);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.game-container{
    width:440px;
    height:248px;
    position: relative;
    outline: 1px ridge wheat;
    margin: 0 auto;
    margin-top: 10px;
}