@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.background{
    height: 100vh;
}
.background img{
    position: absolute;
    width: 300vw;
    height: 100%;
    z-index: 2;
}
.background .nube{
    position: absolute;
    z-index: 4;
}
.background .hojas{
    position: relative;
    z-index: 10;
}
:root {
    --pixel-size: 6;
}
.pokemon{
    width: calc(44px * var(--pixel-size));
   height: calc(40px * var(--pixel-size));
   overflow: hidden;
   position: relative;
   margin: 4em auto;
   z-index: 9;
   bottom: 69vh;
   right: 30vw;
}
.pokemon img{
    width: auto;
    height: 1000px;
}
.pokemonEve{
    animation: moveSpritesheet 0.8s steps(5) infinite;
   width: calc(128px * var(--pixel-size));
   position: absolute;
   z-index: 60;
}

.pixelart {
    image-rendering: pixelated;
 }
 
.face-right {
    top: calc(-42px * var(--pixel-size));
 }
 .face-up {
    top: calc(-64px * var(--pixel-size));
 }
 .face-left {
    top: calc(-96px * var(--pixel-size));
 }
 
 
 @keyframes moveSpritesheet {
    from {
       transform: translate3d(0px,0,0)
    }
    to {
       transform: translate3d(-100%,0,0)
    }
 }
.container-init{
    display: flex;
    position: absolute;
    top: 20px;
    z-index: 100;
    width: 200vw;
}
.presentation{
    position: relative;
    padding: 30px;
    width: 25rem;
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%, rgba(80, 83, 235, 0.219) 0%, rgba(67, 167, 201, 0.26) 100.2% );
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--black2);
    border-bottom:1px solid var(--black2);
    margin: 2rem;
}
.presentation h1{
    font-weight: 800;
}
.presentation h1 i{
    -webkit-text-stroke: 1px var(--black);
    color: var(--white); 
}
.conteiner-texto{
    margin-bottom: 30px;
    color: black;
}
.controls{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.controls p{
    font-size: 1.3rem;
}
.keys{
    display: flex;
}
.keys .key{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 30px 10px 30px;
    height: 35px;
    width: 35px;
    background-color: var(--black2);
    color: var(--white);
    border-radius: 5px;
    transition: 0.3s all ease;
}
.keys .key:hover{
    background-color: var(--black);
    color: var(--cyan);
}
.keys .key i{
    filter: opacity(0.9);
}
.quiz{
    margin-left: 20rem;
    position: relative;
    padding: 1rem;
    width: 25rem;
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%, rgba(153, 155, 248, 0.123) 0%, rgba(94, 214, 253, 0.212) 100.2% );
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    background-color: var(--black2);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--black2);
    border-bottom:1px solid var(--black2);
}
